./dist
dist

./node_modules
node_modules

./trash
trash

./torrent_assets
torrent_assets

./db/database.db
db/database.db

./jets_ssh_documentations
./jets_ssh_automations

jets_ssh_documentations
jets_ssh_automations

./prmmng_envs
prmmng_envs