<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>jets_torrent</title>
    <link href="src/css/app.css" rel="stylesheet" />

  </head>

  <body>
    <div id="home">
      {{! navibar }}
      <div id="nvbr">
        <div id="lft">
          <div id="lft_logo">
            <span>
              <img
                src="assets/logos/jets_torrents.png"
                class="app-icon"
                width="15"
              />
            </span>
            <span>JETS_TORRENT</span>
          </div>
        </div>
        <div id="rht">
          <span>
            <img
              id="suggest"
              src="assets/icons/jts_suggestion.png"
              class="app-icon"
              width="19"
            /></span>
          <span>
            <img
              id="like"
              src="assets/icons/jts_like.png"
              class="app-icon"
              width="19"
            /></span>
        </div>
      </div>
      <br /><br /><br /><br /><br /><br />
      <div id="hr">
        <div id="hr_logo">
          <img
            src="assets/logos/jets_torrents.png"
            class="app-icon"
            width="55"
          />
        </div>
        <p id="hr_ttl">
          Jets_Torrent
        </p>
        <div id="hr_dscrpt">
          <div id="hr_dscrpt_cntnt">
            Jets_Torrent is a simple, straightforward torrent downloading
            application. It supports both .torrent files and in‑app torrent
            search. The app is primarily designed for downloading movies, but
            with .torrent files you can attempt to download other types of
            content. Keep in mind that non‑movie downloads may not always work
            smoothly.
          </div>

        </div>
      </div>
      <br /><br /><br /><br /><br />
      {{! header }}
      <div id="hdr">
        <button id="lrnmrBtn">
          <span>
            <img
              id="suggest"
              src="assets/icons/compass.png"
              class="app-icon"
              width="15"
            /></span>
          Learn more</button>
        <button id="dwnldBtn">
          <span>
            <img
              id="suggest"
              src="assets/icons/download.png"
              class="app-icon"
              width="15"
            />
          </span>
          Download</button>
      </div>
      <br /><br />
      {{! body }}
      <div id="bdy">
        <div id="bdy_cntnt">
          <div id="updt_crd">
            <div id="updt_crd_cntnt">
              {{! icon }}
              <div id="updticonPnl">
                <img
                  id="updticon"
                  src="assets/icons/jts_updates2.png"
                  class="app-icon"
                  width="55"
                /></div>
              {{! info }}
              <div id="updt_crd_info">
                <p id="chkupdts_txt">Looking for a specific update?</p>
                <p id="chkupdts_subtxt">Take a look at a list of updates</p>
                <br />
                <div id="chkupdtspnl">
                  <button id="chkupdtsBtn">Check updates</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <br /><br /><br />
      {{! footer }}
      <div id="ftr">
        {{! left }}
        <div id="lft_logo">
          <span>
            <img
              src="assets/logos/jets_torrents.png"
              class="app-icon"
              width="12"
            />
          </span>
          <span>JETS_TORRENT</span>
        </div>

        {{! right }}
        <div id="rght_endnote">
          <span id="prvcyBtn">Privacy</span>
          <span id="trmsBtn">Terms</span>
        </div>
      </div>
    </div>

    <script src="/src/js/app.js"></script>
    <script src="/src/js/prlr.js"></script>
  </body>
</html>