<div id="lkPg">
  <div id="lkcntnt">
    {{!   <div class="heartpnl">
      <span class="heart" data-value="1">&#9829;</span>
      <span class="heart" data-value="2">&#9829;</span>
      <span class="heart" data-value="3">&#9829;</span>
      <span class="heart" data-value="4">&#9829;</span>
      <span class="heart" data-value="5">&#9829;</span>
    </div> }}
    <div id="rate">
      <div class="rate_shape" data-value="1">&#9829;</div>
      <div class="rate_shape" data-value="2">&#9829;</div>
      <div class="rate_shape" data-value="3">&#9829;</div>
      <div class="rate_shape" data-value="4">&#9829;</div>
      <div class="rate_shape" data-value="5">&#9829;</div>
    </div>

    <p id="heart_rating">Liked project: 0/5</p>
    <div id="heartedpnl">
      <button id="heartedBtn">
        <span><img
            src="assets/icons/jts_send.png"
            width="15"
          /></span>Submit</button>

    </div>

  </div>
</div>