<div id="searchPg">
  {{! menu panel }}
  <div id="sidemenu_srchpnl">
    {{! top }}
    <div>

      <div id="srchttlpnlpg">
        <p id="mvLstttl">Movie List</p>
        <img
          id="dotmenu"
          src="../public/src/assets/icons/dotmenu.png"
          alt=""
          width="3"
        />
      </div>
      {{! seacrh tools panel }}
      <div id="srchtoolspnl">

        <div id="srchtoolspnl_cntnts">
          <img
            id="mviettlBtn"
            src="../public/src/assets/icons/jts_search.png"
            alt=""
            width="25"
          />
          <input id="mviettlInput" type="text" placeholder="search movie..." />
        </div>

      </div>
      {{! error message }}
      <div id="srchpg_ermgPnl" style="display: none;"></div>
      {{! loading icon }}
      <div id="mviersultspnl" style="display: none;">
        <p id="loadingtxt">loading...</p>
      </div>
    </div>

  </div>

  {{! srch contnets panel }}
  <div id="contents_srchpnl">
    <div id="torrentprvl">
      <div id="welcomemgs">
        <div>
          <div id="jets_t_logo_srchpg">
            <img
              src="../public/src/assets/logo/jets_torrents.png"
              alt=""
              width="50"
            /></div>
          <p id="JETS_TORRENT_ttl">JETS_TORRENT</p>
        </div>
      </div>
    </div>

    {{! bottom home button }}

  </div>
  <div id="footerhoverPnl">
    <div id="srchrtrnhmBtn"><img
        src="../public/src/assets/icons/jts_home.png"
        alt=""
        width="35"
      /></div>

    <div id="intrnterrmgspnl" style="display: none;"></div>
  </div>
</div>