<div id="sggstPg">
  <div id="sggstpgcntnt">
    <div>
      {{!       <label for="email">Email:</label><br /> }}
      <div id="emlpnl">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
        />
      </div>

    </div>
    <br />
    <textarea
      id="sggst_txt"
      rows="5"
      cols="40"
      placeholder="Enter your text here"
    ></textarea>
    <p class="sggst_txt_dsrcptn">
      <span><img src="assets/icons/jts_checked2.png" width="12" /></span>
      Keep your review, suggestion or issue report on point and clear!
    </p>
    <p class="sggst_txt_dsrcptn">
      <span><img src="assets/icons/jts_checked2.png" width="12" /></span>
      Provide valid email, response will be sent to it!
    </p>
    <br />
    <div id="ermgs_sggstpg" style="display: none;"></div>
    <div id="sbmtsggstbtnpnl">
      <button id="sbmtsggstBtn"><span><img
            src="assets/icons/jts_send.png"
            width="15"
          /></span>Submit</button>
    </div>
  </div>

</div>